@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  max-width: 1440px;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

.imgAnimation {
  animation: move 5s infinite ease alternate;
}

@keyframes move {
  from {
    transform: translateY(-8px);
  }
  to {
    transform: translateY(0px) scale(1.01);
  }
}
